.testRatings {
    width: 800px;
    height: 43vh;
    min-height: 200px;
    background-color: $mono;

    &__detail {
        display: inline-block;
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        top: -162px;
        left: 0;

        text-align: start;
        padding: var(--space-md);
        background-color: rgba(0, 0, 0, 0.8);
        width: auto;
        width: 210px;
        height: 120px;
        text-align: center;
        opacity: 0;


        &-head {
            color: rgb(141, 141, 141);
            font-weight: 700;
            font-size: 1em;
        }
    }

}
.newImg:hover{
  .testRatings__detail {
    opacity: 1;
  }
  .testMovie__detail {
    opacity: 1;
  }
}

.testtest{
  margin: 100px;
}
.newImg {
    display: inline-block;
    width: 300px;
    height: 30vh;
    margin: 0px;
}

.newRatingTitle{
  user-select: none;
  color: white;
  font-weight: 400;
  font-size: 2em;
}

.nr--footer {
  position: fixed;
  padding-top: 50px;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-color: $mono;
  color: white;
  z-index: 1000;
}

.nr--footer:hover {
  background: $mono;
  height: 200px;
  opacity: 1;

  transition: all 0.5s;
}

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input { display: none; }
.rating > label:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  color: #ddd;
 float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: red;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: orangered;  }
