.navBar {
  position: fixed;
  z-index: 999;
  height: 100px;
  display: flex;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease ;

  &__notHome {
    background-color: $mono;
  }

  &__down {
    background: linear-gradient(to top, rgba(70, 70, 70, 0), rgba(0, 0, 0, 0.8));;
    transition: all 0.3s ease ;
  }
  .navItems {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 2.5rem;
    font-weight: 700;
    align-items: center;
    box-sizing: border-box;
    text-transform: capitalize;

    &__option {
      text-decoration: none;
      color: $white;
      font-size: 2rem;
      font-weight: 700;
      margin-right: 20px;

    &:hover {
        cursor: pointer;
        color: red;
      }
    }
    &__body {
        display: flex;
        justify-content: flex-end;
        font-size: 1.5rem;

        width: 20%;
        margin-left: var(--space-md);
        input {
          border: 0;
          font-family: inherit;
          padding: 12px 0;
          width: 20vw;
          height: 1vh;
          font-size: 16px;
          font-weight: 500;
          border-bottom: 2px solid $primary;
          background: none;
          border-radius: 0;
          color: $white;
          position: absolute;
          top: 4vh;
          left: 50vw;
          transition: all .15s ease;
          &:focus {
            outline: none;
          }
        }
    }
  }
}

.navItems a{
    text-decoration: none;
    color: $white;
    font-size: 2rem;
    font-weight: 700;
    margin-right: 20px;

    &:hover {
        cursor: pointer;
        color: red;
      }
}

.divFocus:focus {
  z-index:100;
  position: fixed;
  top: 70px;
  right: 0;
  width: 150px;
  margin-right: 55px;
  padding: var(--space-md);
  
  background-color: $mono;

  border-radius: var(--space-xxs);
  text-align: start;
  outline: none;
  opacity: 1;

  p {
    margin: 0;
    font-size: 2em;
    font-weight: 700;
    color: white;
  }

  p:hover {
    cursor: pointer;
    color: red;
  }
}

